/* 
Centers everything within the <body> tag using CSS Grid.
min-height: 100vh; ensures that the body takes at least the full viewport height.
Applies padding and sets the background color.Sets the default font to Arial. 
*/
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 2em;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* 
Styles the form (#search-form).
Uses Flexbox for layout, arranging children elements in a column.
Sets a maximum width, and ensures it takes the full width of its container. 
*/
#search-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 300px;
}

/*
Styles the div (#result) where search results are displayed.
Sets the top margin and maximum width, similar to the form.
 */
#result {
    margin-top: 2em;
    width: 100%;
    max-width: 300px;
}

/*
Styles the image with a class image.
Positions it fixed at the bottom right corner of the page.
Sets maximum width and height.
*/
.image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 150px;
    max-height: 150px;
}

/*
A media query that applies when the viewport is at least 600 pixels wide.
Increases the maximum width of the form and result container
Also increases the size of the image for larger screens.
*/
@media (min-width: 600px) {
    /* Increase the max width of the form and result on larger screens */
    #search-form,
    #result {
        max-width: 600px;
    }

    /* Increase the size of the image on larger screens */
    .image {
        max-width: 200px;
        max-height: 200px;
    }
}

.ui-autocomplete {
    background-color: white;
    border: 1px solid #aaa; /* Light grey border */
    max-height: 200px;
    overflow-y: auto; /* Enable vertical scrollbar if necessary */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding: 5px 0; /* Vertical padding */
    font-family: Arial, sans-serif;
}

.ui-autocomplete .ui-menu-item-wrapper {
    padding: .4em;
    cursor: pointer;
}

.ui-autocomplete .ui-state-active {
    background-color: #efefef; /* Light grey background for active item */
}
