<!DOCTYPE html>
<html>
<head>
    <title>Sous Vide Cooking Times</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Sous Vide Cooking Times</h1>
    <form id="search-form">
        <label for="food_type">Food Type:</label><br>
        <input type="text" id="food_type" name="food_type"><br>
        <input type="submit" value="Search">
    </form>
    <div id="result"></div>
    <img class="image" src="static/veg.png" alt="A sous vide or food">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
